name: "build"
on:
  schedule:
    - cron: '3 3 * * *'
  push:
    branches:
    - 'master'
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build and push the image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: eyenx/taskwarriormail
          tag_with_ref: true
          tag_with_sha: true


